<div class="mb-3">
    <input type="text" [(ngModel)]="filterColorText" class="form-control" id="filterColorText" placeholder="Renk arama ifadesi giriniz">
  </div>
  <div>
    <div *ngIf="filterColorText.length>2" class="alert alert-primary">
      {{filterColorText}} aradınız.
   </div>
<ul class="list-group">
    <li  [class]="getAllColorClass()" style="background-color: #ff4136;"  routerLink = "/cars">Tüm Renkler</li>
    <li (click)="setCurrentColor(color)"
    routerLink = "/cars/color/{{color.colorId}}"
    *ngFor="let color of colors | filterColorPipe:filterColorText" 
    [class]="getCurrentColorClass(color)">
    {{color.colorName}}</li>
</ul>
<div class="d-grid">
  <button *ngIf="isAuth()" class="btn btn-danger mt-2" routerLink="/colors/detail">Detayına git</button>
</div>

