<div class="mb-3">
    <label style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;" for="exampleFormControlInput1" class="form-label">Renk Ara</label>
    <input type="text" [(ngModel)]="filterColorText" class="form-control" id="filterColorText" placeholder="arama ifadesi giriniz">
  </div>
  <div>
    <div *ngIf="filterColorText.length>2" class="alert alert-primary">
      {{filterColorText}} aradınız.
   </div>
<ul class="list-group">
    <li  [class]="getAllColorClass()" routerLink = "/cars">Tüm Renkler</li>
    <li (click)="setCurrentColor(color)"
    routerLink = "/cars/color/{{color.colorId}}"
    *ngFor="let color of colors | filterColorPipe:filterColorText" 
    [class]="getCurrentColorClass(color)">
    {{color.colorName}}</li>
</ul>

