<form [formGroup]="cardForm" class="row g-8">
    <div  class="col-md-5">
      <label for="inputCardName" class="form-label">Kart Adı</label>
      <input formControlName="nameonthecardx" type="text" class="form-control" id="inputCardName">
    </div>
    <div class="col-md-5">
      <label for="inputNumber" class="form-label">Kart Numarası </label>
      <input formControlName="cardnumberx" type="text" class="form-control" id="inputNumber">
    </div>
    <div class="col-md-5">
      <label for="inputMonth" class="form-label">Ay</label>
      <input formControlName="expirationmonthx" type="text" class="form-control" id="inputMonth">
    </div>
    <div class="col-md-5">
        <label for="inputYear" class="form-label">Yıl</label>
        <input  formControlName="expirationyearx" type="text" class="form-control" id="inputYear">
      </div>
    <div class="col-md-4">
      <label for="inputCvv" class="form-label">CVV</label>
      <input  formControlName="cardcvvx" type="text" class="form-control" id="inputCvv">
    </div>
    <!-- <div class="col-12">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck">
        <label class="form-check-label" for="gridCheck">
          Kartımı Hatırla
        </label>
      </div>
    </div> -->
   
  </form>
  <div class="col-12">
    <button type="submit" (click)="getCard()" class="btn btn-primary">Öde </button>
  </div>
