<!-- <nav class="navbar navbar-expand-lg" id="navi">
  <div class="container-fluid" id="pText">
    <a id="rentalcar" class="navbar-brand" routerLink=""><b>Rental Car</b></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink=""> Link</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a
            class="nav-link disabled"
            href="#"
            tabindex="-1"
            aria-disabled="true"
            >Disabled</a
          >
        </li>
      </ul>
     <button id="kayıt" class="btn btn-primary" routerLink="/register">kayıt ol</button>&nbsp;&nbsp;
      <button id="giriş" class="btn btn-primary" routerLink="/login">giriş yap</button>&nbsp;&nbsp;  
      <button id="çıkış"
        class="btn btn-primary"
        routerLink="/login"
        (click)="cleanLocal()"
      >
        çıkış yap
      </button>
    </div>
  </div>
</nav>  -->
<nav class="navbar navbar-expand-lg" style="background-color: black">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><b>RENTAL CAR </b></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-md-auto gap-2">
        <li class="nav-item rounded">
          <a class="nav-link active" aria-current="page" routerLink="/cars"
            ><i class="bi bi-house-fill me-2"></i>Arabalar</a
          >
        </li>
        <li class="nav-item rounded">
          <a class="nav-link" routerLink="/brands"
            ><i class="bi bi-people-fill me-2"></i>Markalar</a
          >
        </li>
        <li class="nav-item rounded">
          <a class="nav-link"
            ><i class="bi bi-telephone-fill me-2"></i>Contact</a
          >
        </li>
        <li class="nav-item dropdown rounded">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            ><i *ngIf="isAuth()" class="bi bi-person-fill me-2"></i
            >{{ getName() }}</a
          >
          <ul
            class="dropdown-menu dropdown-menu-end"
            aria-labelledby="navbarDropdown"
          >
            <li><a class="dropdown-item"></a></li>
            <li>
              <a class="dropdown-item" routerLink="/cars">Another action</a>
            </li>
            <li>
              <hr class="dropdown-divider" />
            </li>
            <li>
              <a
                class="dropdown-item"
                *ngIf="isAuth()"
                routerLink="/login"
                (click)="cleanLocal()"
                >Logout</a
              >
            </li>
          </ul>
        </li>
        <button id="button" class="btn btn-xs" routerLink="/login">
          giriş yap</button
        >&nbsp;&nbsp;
        <button id="button" class="btn btn-xs" routerLink="/register">
          kayıt ol</button
        >&nbsp;&nbsp;
      </ul>
    </div>
  </div>
</nav>
