<nav class="navbar navbar-expand-lg navbar-dark golge fixed-top">
  <div class="container">
    <a class="navbar-brand" routerLink=""><b>RENTAL CAR </b></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav gap-2">
        <li class="nav-item rounded">
          <a class="nav-link active" aria-current="page" routerLink=""
            ><i class="bi bi-house-fill me-2"></i>Home</a
          >
        </li>
        <li class="nav-item rounded">
          <a class="nav-link active" aria-current="page" routerLink="/cars"
            ><i class="bi bi-house-fill me-2"></i>Arabalar</a
          >
        </li>
        <li class="nav-item rounded">
          <a class="nav-link active" aria-current="page" routerLink="/rental"
            ><i class="bi bi-house-fill me-2"></i>Kiralamalar</a
          >
        </li>
      </ul>
      
      <ul class="navbar-nav ms-md-auto gap-2">
        <li class="nav-item rounded" *ngIf="isAuth()">
          <a routerLink="/cart" class="nav-link"
            ><i class="bi bi-telephone-fill me-2"></i>Sepetim</a
          >
        </li>
        <li *ngIf="isAuth()" class="nav-item dropdown rounded">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            ><i class="bi bi-person-fill me-2"></i>{{ getName() }}</a
          >
          <ul
            class="dropdown-menu dropdown-menu-end"
            aria-labelledby="navbarDropdown"
          >
            <li>
              <a class="dropdown-item" routerLink="user/update"
                >Bilgilerimi Güncelle</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                routerLink="/login"
                (click)="cleanLocal()"
                >Çıkış Yap</a
              >
            </li>
          </ul>
        </li>

        <li *ngIf="!isAuth()" class="nav-item rounded">
          <button class="btn btn-outline-danger" routerLink="/login">
            Giriş Yap
          </button>
          <button class="btn btn-danger ms-2" routerLink="/register">
            Kayıt Ol
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>
