.golge {
  border-bottom: 2px;
  box-shadow: 0 0 15px 5px rgba(240, 240, 240, .3);
  background-color: rgba(10, 10, 10, .3);
}

@media (min-width: 800px) and (max-width: 850px) {
  .navbar:not(.top-nav-collapse) {
    background: #1c2331 !important;
  }
}