<div class="container bg-dark">
    
    <div class="row my-3 pt-3">
        <div class="col-md-12">
            <select 
                    [(ngModel)]="brandFilter"  class="form-select px-2"  >
                <option 
                    [ngValue]="undefined" disabled  selected> 
                    -- select a brand -- 
                </option>
                <option 
                    *ngFor="let brand of brands" 
                    [value]="brand.brandId" 
                    [selected]="setCurrentBrand(brand.brandId)">
                    {{brand.brandName}}
                </option>
            </select>
        </div>
    </div>
    
    <div class="row my-3">  
        <div class="col-md-12">
            <select 
                    [(ngModel)]="colorFilter"  
                    class="form-select px-2" >
                <option 
                    [ngValue]="undefined" disabled  selected> 
                    -- select a color -- 
                </option>
                <option 
                    *ngFor="let color of colors" 
                    [value]="color.colorId" 
                    [selected]="setCurrentColor(color.colorId)">
                    {{color.colorName}}
                </option>
          </select>
        </div>       
    </div>
    <div class="row my-3 pb-3">
        <div class="col-md-6">
            <button 
            class="btn btn-secondary"
            routerLink="/cars/filter/{{brandFilter}}/{{colorFilter}}" >
                Filter
            </button>
        </div>
        <div class="col-md-6">
            <button class="btn btn-warning"
            routerLink="/cars">
                Clear
            </button>
        </div>
        
    </div>
</div>

