<div class="container pt-5 mt-5"style="margin-left: 280px;" >
  <div class="col-md-8 mt-2">
    <div class="card" >
      <div class="card-header" >
        <h5 class="display-6 text-center fw-bold text-uppercase">Kullanıcı güncelle</h5>
        <div *ngIf="user" class="card-body">
          <form [formGroup]="userUpdateForm" class="col-lg-12 mx-auto fw-bold">
            <div class="mb-3">
              <label for="firstName">Ad</label>
                <input
                  type="text"
                  id="firstName"
                  formControlName="firstName"
                  class="form-control"
                  placeholder="adınız"
                />
            </div>
            <div class="mb-3">
              <label for="lastName"> Soyad</label>
                <input
                  type="text"
                  id="lastName"
                  formControlName="lastName"
                  class="form-control"
                  placeholder="soyadınız"
                />
            </div>
            <div class="mb-3">
              <label for="email"> Email</label>
                <input
                  type="text"
                  id="email"
                  formControlName="email"
                  class="form-control"
                  placeholder="email"
                />
            </div>
            <div class="mb-3">
              <label for="password">Yeni Şifreniz</label>
                <input
                  type="password"
                  id="password"
                  formControlName="password"
                  class="form-control"
                  placeholder="password"
                />
            </div> 
          </form>
        </div>
        <div class="card-footer text-center">
          <button class="btn btn-danger px-4 py-2" (click)="updateUser()">
            güncelle
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
