<html>
<head>
<style>
#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color:darkcyan;
  color: white;
  
}
</style>
</head>
<body>
<div>

    <table id="customers">
      <tr>
         <th>Marka</th>
          <th>Model</th>
          <th>Renk</th>
          <th>Günlük Fiyat</th>
          <th>Kira Tarihi</th>
          <th>Teslim Tarihi</th>
          <th>Toplam</th>
      </tr>
      <tr *ngFor="let cart of cartItems">
        <td>{{ cart.brandName }}</td>
          <td>{{ cart.modelYear }}</td>
          <td>{{ cart.colorName }}</td>
          <td class="text-right">{{ cart.dailyPrice }} TL</td>
          <td>{{ cart.rentDate | date: "dd.MM.YYYY" }}</td>
          <td>{{ cart.returnDate | date: "dd.MM.YYYY" }}</td>
          <td class="text-right">{{ cart.totalPrice }} TL</td>
         
         </tr>
   </table>
</div>
<button class="btn btn-fill btn-primary" routerLink="/creditCard"  >Ödeme</button>
</body>
</html>