<div class="mb-3">
  <input [appColor]="color" [appKey]="'letter'" type="text" [(ngModel)]="filterText" class="form-control mt-5"
    id="filterText" placeholder=" Marka arama ifadesi giriniz" />
</div>
<div>
  <div *ngIf="filterText.length > 2" class="alert alert-primary">
    {{ filterText }} aradınız.
  </div>
</div>

<ul  class="list-group">
  <li routerLink="/cars" class="list-group-item">Tüm Arabalar</li>
  <br />

  <li class="list-group-item active" style="background-color: #ff4136;" aria-current="true">Markalar</li>

  <li (click)="setCurrentBrand(brand)" routerLink="/cars/brand/{{ brand.brandId }}"
    *ngFor="let brand of brands | filterPipe: filterText" [class]="getCurrentBrandClass(brand)">
    {{ brand.brandName }}
  </li>
</ul>

<div class="d-grid">
  <button *ngIf="isAuth()" class="btn btn-danger mt-2" routerLink="/brands/detail">
    Detayına git
  </button>
</div>