<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
<div class="login mt-5">
  <h2 class="text-white"> Kayıt ol </h2>
  <form  [formGroup]="registerForm">
    <label for="floatingInput" class="text-white"><b>Ad</b></label>
    <input class="text" name="firstName" formControlName="firstName"
    type="text"
    id="floatingInput"
    placeholder="firstName">
    <label for="floatingInput" class="text-white"><b>Ad</b></label>
    <input class="text" name="lastName" formControlName="lastName"
    type="text"
    id="floatingInput"
    placeholder="lastName">
    <label for="floatingInput" class="text-white"><b>E-posta</b></label>
    <input class="text" name="username" formControlName="email"
    type="email"
    id="floatingInput"
    placeholder="name@example.com">
    <label for="floatingInput" class="text-white"><b>Parola</b></label>
    <input class="text" name="password" formControlName="password"
    type="password"
    id="floatingInput"
    placeholder="Password">
    <button class="signup"   (click)="register()">
      Kayıt ol
    </button>
    <hr>
  </form>
</div>