<footer class="page-footer font-small blue py-4 mt-5" style="background-color:#010101b8; ">
    <div class="container-fluid text-center text-md-left">
      <div class="row" style="margin-left: 300px;">
        <hr class="clearfix w-100 d-md-none pb-3">
        <div class="col-md-3 mb-md-0 mb-3" >
  
          <h5 style="margin-left: -100px; color: white;" class="text-uppercase">Araçlarımız</h5>
  
          <ul class="list-unstyled" style="margin-left: -100px;">
            <li>
              <a style="color: white;" href="#!">Tesla</a>
            </li>
            <li>
              <a style="color: white;" href="#!">Opel</a>
            </li>
            <li>
              <a style="color: white;" href="#!">Bmw</a>
            </li>
            <li>
              <a style="color: white;"href="#!">ve daha fazlası..</a>
            </li>
          </ul>
  
        </div>
  
        <!-- Grid column -->
        <div class="col-md-4 mb-md-0 mb-3">
  
          <!-- Links -->
          <h5 style="color: white;" class="text-uppercase">İletişim</h5>
  
          <ul class="list-unstyled">
            <li>
              <a style="color: white;" href="#!">Facebook</a>
            </li>
            <li>
              <a style="color: white;" href="#!">İnstagram</a>
            </li>
            <li>
              <a style="color: white;" href="#!">Twitter</a>
            </li>
            <li>
              <a style="color: white;" href="#!">Twitter</a>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
  
          <!-- Links -->
          <h5 style="color: white;" class="text-uppercase">Şubeler</h5>
  
          <ul class="list-unstyled">
            <li>
              <a style="color: white;" href="#!">İstanbul</a>
            </li>
            <li>
              <a style="color: white;" href="#!">İzmir</a>
            </li>
            <li>
              <a style="color: white;" href="#!">Samsun</a>
            </li>
            <li>
              <a style="color: white;"href="#!">Ankara</a>
            </li>
          </ul>
  
        </div>
    </div>
    </div>
  </footer>
  
  
  