<footer
  class="page-footer font-small blue py-4 mt-5"
  style="background-color: #010101b8"
>
  <div class="container-fluid text-center text-md-left">
    <div class="row" style="margin-left: 300px">
      <hr class="clearfix w-100 d-md-none pb-3" />
      <div class="col-md-3 mb-md-0 mb-3">
        <h5 style="margin-left: -100px;" class="text-uppercase text-white">
          Araçlarımız
        </h5>

        <ul class="list-unstyled text-white" style="margin-left: -100px">
          <li>
            <a>Tesla</a>
          </li>
          <li>
            <a>Opel</a>
          </li>
          <li>
            <a>Bmw</a>
          </li>
          <li>
            <a>ve daha fazlası..</a>
          </li>
        </ul>
      </div>

      <!-- Grid column -->
      <div class="col-md-4 mb-md-0 mb-3">
        <!-- Links -->
        <h5 class="text-uppercase text-white">İletişim</h5>

        <ul class="list-unstyled text-white">
          <li>
            <a>Facebook</a>
          </li>
          <li>
            <a>İnstagram</a>
          </li>
          <li>
            <a>Twitter</a>
          </li>
          <li>
            <a>Twitter</a>
          </li>
        </ul>
      </div>

      <div class="col-md-3 mb-md-0 mb-3">
        <h5 class="text-uppercase text-white">Şubeler</h5>

        <ul class="list-unstyled text-white">
          <li>
            <a>İstanbul</a>
          </li>
          <li>
            <a>İzmir</a>
          </li>
          <li>
            <a>Samsun</a>
          </li>
          <li>
            <a>Ankara</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
