<div class="container mt-5" style="margin-left: 350px; margin-bottom: 180px;">
  <div class="col-md-7">
<table  class="table table-light table-striped text-danger">
    <thead>
        <tr>
            <th>Renk Id</th>
            <th>Renk Adı</th>
            <th></th>
            </tr>
    </thead>
    <tbody>
      <tr *ngFor="let color of colors ">
        <td style="color: black;"> <b>{{color.colorId}} </b> </td>
        <td style="color: black;"> <b> {{color.colorName |uppercase}}</b> </td>
        <td> <button type="button" class="btn btn-danger" routerLink="/colors/update/{{color.colorId}}">Rengi Güncelle</button></td>
    </tr>
   </tbody>
  
</table>

<button type="button" class="btn btn-danger" routerLink="/colors/add">Renk Ekle</button>
  </div></div>