<div class="container mt-5" style="margin-left: 350px; margin-bottom: 180px;">
  <div class="col-md-7">
<table class="table table-secondary table-striped text-danger">
    <thead>
        <tr>
            
            <th>Marka</th>
            <th>Renk</th>
            <th>Model</th>
            <th>resim</th> 
            </tr>
    </thead>
    <tbody>
      <tr *ngFor="let car of cars ">
        <td style="color: black;"><b>{{car.brandName |uppercase}} </b></td>
        <td style="color: black;"><b>{{car.colorName}}</b></td>
        <td style="color: black;"><b> {{car.modelYear}}</b></td>
        <td> <button type="button" class="btn btn-danger" routerLink="/cars/update/{{car.carId}}">Arabayı Güncelle</button></td>
       
  </tr>
    </tbody>
  
</table>
<button type="button" class="btn btn-danger"  routerLink="/cars/add">Araba Ekle</button>
  </div></div>