<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
<div class="login mt-5 mb-5">
  <h2 class="text-white"> Giriş Yap </h2>
  <form  [formGroup]="loginForm">
    <label for="floatingInput" class="text-white"><b>E-posta</b></label>
   <input class="text" name="username" formControlName="email"
   type="email"
   id="floatingInput"
   placeholder="name@example.com">
   <label for="floatingInput" class="text-white"><b>Parola</b></label>
    <input class="text" name="password" formControlName="password"
    type="password"
    id="floatingInput"
    placeholder="Password">
    <a routerLink="/register"class="text-white ml-5"> Hesabınız yok mu kayıt olun.</a>
    <button class="signin"  routerLink="/cars" (click)="login()">
      Giriş Yap
    </button>
    <hr>
  </form>
</div>