<h2 class="text-center">Araba Listesi</h2>
<div *ngIf="dataLoaded==false" class="d-flex justify-content-center">
    <div class="spinner-border text-success" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>
 <!-- <div class="mb-3">
    <label style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;" for="exampleFormControlInput1" class="form-label">Araba Ara</label>
    <input type="text" [(ngModel)]="filterCar" class="form-control" id="filterCar" placeholder="arama ifadesi giriniz">
  </div>
  <div>
    <div *ngIf="filterCar.length>2" class="alert alert-primary">
      {{filterCar}} aradınız.
   </div> -->
  
   <app-filter></app-filter>
   
<table *ngIf="dataLoaded==true" class="table table-success table-striped">
    <thead>
        <tr>
            
            <th>Marka</th>
            <th>Renk</th>
            <th>Model</th>
            <th>resim</th>
           </tr>
    </thead>
   <tr *ngFor="let car of cars ">
        <td>{{car.brandName |uppercase}}</td>
        <td>{{car.colorName}}</td>
        <td>{{car.modelYear}}</td>
        <td><button routerLink="/cars/image/{{car.carId}}">Detaya git</button></td>
        <td><button routerLink="/rent/car/{{car.carId}}">Kirala</button></td>
       
    </tr>
</table>




